
.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
  color: white;
  text-align: center;
}

body {
  background-color: black;
}

.Navigation-buttons {
  text-align: center;
}

.Navigation-button1 {
  width: 15%;
  height: 30px;
}