.Chat {
    background-color: red;
    padding-bottom: 2em;
    width: 25%;
    float: right;
}
.Chat-header {
    text-align: center;
    font-size: 1.2em;
}

.Chat button {
    width: 80%;
    height: 3em;
    margin-left: 10%;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}


.Chat form {
    text-align: center;
}

.ChatList {
    width: 80%;
    padding-left: 10%;
    overflow-wrap: break-word;
    margin-bottom: 0.5em;
}

.ChatText {
    font-size: 1em;
    text-align: center;
    border: 1px solid;
    background-color: white;
    border-collapse: collapse;
    position: relative;
}

.ChatNickname {
    text-align: left;
    padding: 0 1em 0 0;
    height: 20px;
    width: 80%;
}

.newChatMessage {
    width: 80%;
    overflow-wrap: break-word;
    display: block;
    margin-left: 10%;
    margin-top: 1em;
    height: 20px;
    margin-bottom: 1em;
}

.submitBtn {
    margin: 1em;
    border: 0;
    height: 20px
}

.ChatLine {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 10%;
}