.LogIn {
  background-color: rgb(187, 151, 151);
  padding-bottom: 2em;
  width: 100%;
  text-align: center;
  border: 0.5px solid;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.NickName-submitBtn {
  margin: 1em;
  border: 0;
  height: 20px
}

.NickNameChangeField {
  width: 80%;
  overflow-wrap: break-word;
  display: block;
  margin-left: 10%;
  margin-top: 1em;
  height: 20px;
  margin-bottom: 1em;
}