.Navigation {
    background-color: red;
    padding-bottom: 2em;
}
.Navigation-header {
    text-align: center;
}
.Navigation-buttons {
    padding: 0 0 1em 3em;
}
.Navigation button {
    width: 45%;
    height: 3em;
    margin-left: 1em;
    padding: 0;
    margin-top: 1em;
}

.Navigation-fact h2 {
    font-size: 1em;
    text-align: center;
}

.Navigation-fact p {
    text-align: right;
    padding: 0 1em 1em 0;
}

.Navigation form {
    text-align: center;
}

.allFactsList {
    width: 80%;
    padding-left: 10%;
    overflow-wrap: break-word;
    margin-bottom: 0.5em;
}

.allFacts-text {
    font-size: 1em;
    text-align: center;
    border: 1px solid;
    background-color: white;
    border-collapse: collapse;
    position: relative;
}

.allFacts-author{
    text-align: left;
    padding: 0 1em 0 0;
    height: 20px;
}

.newCommentText {
    width: 80%;
    overflow-wrap: break-word;
    display: block;
    margin-left: 10%;
    margin-top: 1em;
    height: 20px;
}

.submitBtn {
    margin: 1em;
    border: 0;
    height: 20px
}

.commentLine {
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 10%;
}